.title{
    text-align: center;
}
button{
    align-items: center;
}
.form{
    /* width:60vw; */
}
.elem{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}
tr > button{
    background-color: #6c757d !important;
}